@import url('fonts.css');
:root{
	--white: rgba(255, 255, 255);
	--black: rgba(0, 0, 0);
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
	font-weight: 400;
}
*::before,*::after{font-family: 'icons';}
body{
	background-color: var(--white);
	color: var(--black);
}
ul{
	list-style: none;
}
button{
	background-color: transparent;
	color: inherit;
	font-family: inherit;
	cursor: pointer;
	border: none;
}
button:focus-visible{
	outline: none;
}
a{
	text-decoration: none;
}
img{
	display: inline-block;
	vertical-align: middle;
	object-fit: cover;
}
.container{
	max-width: 1440px;
	width: 100px;
	min-height: 50px;
	margin: 0 auto;
	padding: 0 15px;
}
.wrapper{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
@media (max-width: 1200px) {
	
}
@media (max-width: 992px) {
	
}
@media (max-width: 769px) {
	
}
@media (max-width: 576px) {
	
}
@media (max-width: 480px) {
	
}
@media (max-width: 320px) {

}
@media (max-width: 240px) {
	
}